@import "components/_hero.scss";
@import "components/_post.scss";
@import "components/_pagination.scss";
@import "components/_login.scss";
@import "components/navbar.scss";
@import "../../tailwind.css";

.bullet {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0.5rem 0;
    list-style: disc;
    padding-left: 1.5rem;
}